.profession-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--black);
    z-index: 10;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: 1fr;
    height: 100vh;
    row-gap: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
