# Avoid generating package-lock.json when someone runs npm install accidentally
package-lock=false

# Override machine-level registry settings to use public registry
registry=https://registry.npmjs.org/
